<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shops Receipts</title>
    <style>
        #input data {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #receipt {
            position: center;
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        tr, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="input data">
    <form method="post" th:action="@{/addItems}" th:object="${requestsParsingResult}">
        <table>
            <thead>
            <tr>
                <th th:text="${'Num'}">Num</th>
                <th th:text="${'Prod Id'}">Product Id</th>
                <th th:text="${'Prod Quantity'}">Quantity</th>
                <td>
                    <button type="submit" name="addRow" th:text="${'Add Row'}">Add row</button>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row,rowStat : *{itemsList }">
                <td th:text="${rowStat.count}">1</td>
                <td>
                    <input placeholder="Items Id" type="text" th:field="*{itemsList[__${rowStat.index}__].itemsId}"/>
                </td>
                <td>
                    <input placeholder="Items count" type="text" th:field="*{itemsList[__${rowStat.index}__].itemsQua}"/>
                </td>
                <td>
                    <button type="submit" name="removeRow"
                            th:value="${rowStat.index}" th:text="${'Remove row'}">Remove row
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th th:text="${'Card number'}">Card Number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input placeholder="Card Number" type="text" th:field="*{cardNumber}">
                </td>
                <td>
                    <input type="submit" name="save" placeholder="Save">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div id="receipt" th:object="${receipts}">
    <thead>
    <tr>
        <th th:text="*{receipt}"></th>
        <br>
        <th th:text="*{marketsId}"></th>
        <br>
        <th th:text="*{marketsAddress}"></th>
        </br>
        <th>phone</th>
        <th th:text="*{phone}"></th>
        </br>
        <th>date</th>
        <th th:text="*{date}"></th>
        </br>
        <th>time</th>
        <th th:text="*{time}"></th>
        </br>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${'Qty'}">Qty</td>
        <span>&nbsp;</span>
        <td>DESCRIPTION</td>
        <span>&nbsp;</span>
        <td>PRICE</td>
        <span>&nbsp;</span>
        <td>TOTAL</td>
        <br/>
    </tr>
    <tr>
        <th:block th:each="prod : *{receiptsBody}">
            <th th:text="${prod.quantity}"></th>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <th th:text="${prod.items}"></th>
            <span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
            <th th:text="${'$' + prod.price}"></th>
            <span>&nbsp;</span>
            <th th:text="${'$' + prod.itemsTotalPrice}"></th>
            <br/>
        </th:block>
    </tr>
    </tbody>
    <tfooter>
        <tr>
            <th th:text="${'TOTAL'}"></th>
            <span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
            <th th:text="*{'$' + totalPrice}"></th>
            <br/>
            <th:block th:if="*{discount!=0}">
                <th th:text="${'VAT%'}"></th>
                <span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
                <th th:text="*{discount}"></th>
                <br/>
                <th th:text="${'TAXABLE TOT'}"></th>
                <span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
                <th th:text="*{'$' + taxable}"></th>
            </th:block>
        </tr>
    </tfooter>
</div>
</body>
</html>